* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #dad9d9;
  margin: 1500px auto;
}
.in-iframe {
  margin: 125px auto;
}
.ad-wrapper {
  width: 970px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.adContent {
  border: 1px solid #000000;
  background-color: transparent;
  width: 968px;
  height: 248px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow:hidden;
}
.topSection {
  position: absolute;
  top: 1px;
  height: 248px;
  width: 968px;  
  overflow: hidden;
}
.bg {
  position: absolute;
  top: -325px;
  width: 100%;
  left: 0;
  z-index: -1;
}
.logo{
  width: 225px;
}
.cta{
  background-color: #6f6a6c;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  width: fit-content;
  position: absolute;
  bottom: 40px;
  border-radius: 4px;
  text-align:center;
}
.cta p{
  font-size: 24px;
  font-weight:700;
  color: #ffffff;
}